


#header {
    height: 77px;
      /* border: 0.001px solid red; */
      display: flex;
      flex-direction: row;  
      justify-content: space-around;
      align-items: center;
      position: fixed;
      /* margin-bottom: 13rem; */
      top: 0;
      z-index: 1;
      right: 0;
      left: 0;
      background: #100f17;
  }
  

